.card__delete-button {
  position:absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url('../../../images/recycle-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
