/* * {
  border: 1px solid red;
} */

.page {
  display: block;
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 19px;
  max-width: 1280px;
  min-width: 320px;
  background-color: #000000;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
}
