.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  justify-items: center;
  padding-top: 51px;
}

@media screen and (max-width: 767.5px) {
  .cards {
    padding-top: 36px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 19px;
  }
}
